#IDEA IDE
.idea/

#TODO
Assignment02/gradle/
Assignment02/lib/

#Gradle-Stuff in Assignment03-dir
Assignment03/.gradle/
Assignment03/gradlew
Assignment03/gradlew.bat

#IntelliJ-Stuff in Assignment03-dir
.idea/
